.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: -1;

  opacity: 0;
  pointer-events: none;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.6);

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 20px;
  border-radius: 12px;
  background: var(--bg-color);
}

.opened {
  opacity: 1;
  pointer-events: auto;

  z-index: 10;
}
