.button {
  cursor: pointer;
}

.clear {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.backgroundInverted {
  border: none;
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  outline: none;
}

.background {
  border: none;
  background: var(--bg-color);
  color: var(--primary-color);
  outline: none;
}
