.sidebar {
  height: calc(100vh - var(--navbar-height));
  background: var(--inverted-bg-color);
  width: 300px;
  position: relative;
  transition: width 0.3s;
}

.collapsed {
  width: 80px;

  .icon {
    margin-left: 6px;
    margin-top: 10px;
  }
}

.themeSwitcher {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.collapsedBtn {
  position: absolute;
  padding: 10px;
  right: -28px;
  bottom: 40px;
  border: none;
}

.items {
  margin-top: 20px;
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.icon {
  fill: var(--inverted-secondary-color);
  display: flex;
  align-items: center;
  gap: 4px;
}
