.app.light {
  --bg-color: rgb(128, 128, 128);
  --inverted-bg-color: #081ada;

  --primary-color: rgb(43, 0, 255);
  --secondary-color: rgb(43, 5, 182);

  --inverted-primary-color: rgb(0, 255, 0);
  --inverted-secondary-color: green;
}
